body{
    font-family: 'Montserrat, sans-serif';  
    /* height:100vh; */

}

h1 {  

    /* height: 10rem;
    top: 20rem; */

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 50rem;
    font-size: 5.5rem;
    line-height: 10rem;
    
    color: #FFFFFF;
}

a{
    color: #FFFFFF;
    font-family: 'Open Sans';
}
p {
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-top: 3rem;
    color: #FFFFFF;
}

.p-bt{
    font-family: 'Open Sans';
    font-style: normal;
    margin-top: 3rem;
}

.bttn-submit {
    font-family: 'Open Sans';
    font-style: normal;
    color: #ffffff;
    font-size: 1.5rem;
    background: #2F2F2F;
  }

.question{
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 1.2rem;
    line-height: 2rem;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    color: #FFFFFF;
}

.option{
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 1rem;
    line-height: 2rem;
    color: #FFFFFF;
}

.bg-main{
    background-color: #2F2F2F;
}

.questionnaire{
    background-color: #2a2a2a;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#fixed {
    float:left; 
    position:fixed;
    top:140px;
    padding:50px;
    }
