.cloudHeader {  

    /* height: 10rem;
    top: 20rem; */

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 30rem;
    font-size: 3.5rem;
    line-height: 7rem;
    margin-bottom: 3rem;
    color: #FFFFFF;
}

.cloudText {  

    /* height: 10rem;
    top: 20rem; */

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 10rem;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: #FFFFFF;
}

.customButton {
    width: 120px;
    background-color: white;
    border-radius: 4px;
    font-family: 'Open Sans';
    font-style: normal;
    transition: background-color 0.3s;
  }
  
  .customButton:hover {
    background-color: #7e7c7c;
  }
  